{% extends 'base.html' %}
{% block style%}
<style>
  #toast-container .toast {
    max-width: 100%;
    /* Limita el ancho del toast al 100% del contenedor */
    word-wrap: break-word;
    /* Permite que las palabras largas se ajusten y no desborden */
    white-space: normal;
    /* Asegura que el texto se ajuste en varias líneas si es necesario */
  }

  #toast-container {
    width: 100%;
    /* Para asegurarte de que el contenedor ocupe el ancho de la pantalla */
  }

  .toast-body {
    overflow-wrap: break-word;
    /* Asegura que las palabras largas se dividan para evitar desbordamiento */
  }
</style>
{% endblock%}

{% block content %}
<div class="marco p-4 shadow-sm rounded">
  <div class="row mb-3 d-flex justify-content-end">
    <h2 class="text-center">Contratistas Registrados</h2>
    <div class="col-auto">
      <div class="input-group">
        <input type="text" id="searchInput" class="form-control" placeholder="Buscar contratista..."
          value="{{ search }}">
        <button class="btn btn-outline-secondary" type="button" onclick="executeSearch()">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Contenedor para los toasts -->
  <div id="toast-container" class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    {% if toasts %}
    {% for toast in toasts %}
    <div class="toast align-items-center text-bg-{{ toast.type }} border-0" role="alert" aria-live="assertive"
      data-bs-autohide="false" aria-atomic="true" style="max-width: 100%; width: auto; max-width: calc(100% - 1rem);">
      <div class="d-flex">
        <div class="toast-body">
          <strong>{{ toast.title }}</strong><br>
          {{ toast.message|replace('\n', '<br>')|safe }} Verifique el calendario
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  <!-- Nav Tabs -->
  <ul class="nav nav-tabs" id="categoryTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="vivero-tab" data-bs-toggle="tab" href="#vivero" role="tab" aria-controls="vivero"
        aria-selected="true" onclick="loadCategory('VIVERO')">Vivero</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="forestal-tab" data-bs-toggle="tab" href="#forestal" role="tab" aria-controls="forestal"
        aria-selected="false" onclick="loadCategory('FORESTAL')">Forestal</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="industria-tab" data-bs-toggle="tab" href="#industria" role="tab" aria-controls="industria"
        aria-selected="false" onclick="loadCategory('INDUSTRIA')">Industria</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="transportista-tab" data-bs-toggle="tab" href="#transportista" role="tab"
        aria-controls="transportista" aria-selected="false" onclick="loadCategory('TRANSPORTISTA')">Transportista</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="yerba-tab" data-bs-toggle="tab" href="#yerba" role="tab" aria-controls="yerba"
        aria-selected="false" onclick="loadCategory('YERBA')">Yerba</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="secadero-tab" data-bs-toggle="tab" href="#secadero" role="tab" aria-controls="secadero"
        aria-selected="false" onclick="loadCategory('SECADERO')">Secadero</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="cerfoar-tab" data-bs-toggle="tab" href="#cerfoar" role="tab" aria-controls="cerfoar"
        aria-selected="false" onclick="loadCategory('CERFOAR')">Cerfoar</a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content" id="categoryTabContent">
    <div class="tab-pane fade show active" id="vivero" role="tabpanel" aria-labelledby="vivero-tab">
      <div id="contratistasContainerVIVERO">
        {% include 'contratistas_cards.html' %}
      </div>
    </div>
    <div class="tab-pane fade" id="forestal" role="tabpanel" aria-labelledby="forestal-tab">
      <div id="contratistasContainerFORESTAL"></div>
    </div>
    <div class="tab-pane fade" id="industria" role="tabpanel" aria-labelledby="industria-tab">
      <div id="contratistasContainerINDUSTRIA"></div>
    </div>
    <div class="tab-pane fade" id="transportista" role="tabpanel" aria-labelledby="transportista-tab">
      <div id="contratistasContainerTRANSPORTISTA"></div>
    </div>
    <div class="tab-pane fade" id="yerba" role="tabpanel" aria-labelledby="yerba-tab">
      <div id="contratistasContainerYERBA"></div>
    </div>
    <div class="tab-pane fade" id="secadero" role="tabpanel" aria-labelledby="secadero-tab">
      <div id="contratistasContainerSECADERO"></div>
    </div>
    <div class="tab-pane fade" id="cerfoar" role="tabpanel" aria-labelledby="cerfoar-tab">
      <div id="contratistasContainerCERFOAR"></div>
    </div>
  </div>

  <!-- Selector de tamaño de página en index.html -->
  <div class="d-flex justify-content-end align-items-center mt-3">
    <div class="d-flex align-items-center">
      <label for="pageSize" class="me-2 mb-0">Items por Página:</label>
      <select class="form-select" id="pageSize" style="width: auto;" onchange="changePageSize(this.value)">
        <option value="3" {% if page_size==3 %}selected{% endif %}>3</option>
        <option value="6" {% if page_size==6 %}selected{% endif %}>6</option>
        <option value="9" {% if page_size==9 %}selected{% endif %}>9</option>
        <option value="12" {% if page_size==12 %}selected{% endif %}>12</option>
      </select>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/toast.js') }}"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Obtener el tamaño de página guardado en localStorage o usar 6 como predeterminado
    const savedPageSize = localStorage.getItem('pageSize') || '6';
    document.getElementById('pageSize').value = savedPageSize;

    // Cargar el contenido del primer tab usando el tamaño de página guardado
    const initialCategory = document.querySelector('.nav-link.active').textContent.trim().toUpperCase();
    loadCategory(initialCategory, 1, savedPageSize);

    // Mostrar los toasts
    const toastContainer = document.getElementById('toast-container');
    const toasts = toastContainer.getElementsByClassName('toast');
    Array.from(toasts).forEach(toast => {
      new bootstrap.Toast(toast).show();
    });
  });

  function loadCategory(category, page = 1, pageSize = null) {
    const size = pageSize || localStorage.getItem('pageSize') || '6';
    const url = new URL(window.location.href);
    url.searchParams.set('categoria', category);
    url.searchParams.set('page', page);
    url.searchParams.set('page_size', size);
    fetch(url, {
      headers: { "X-Requested-With": "XMLHttpRequest" }
    })
      .then(response => response.text())
      .then(html => {
        document.querySelector(`#contratistasContainer${category}`).innerHTML = html;
      })
      .catch(error => console.error('Error:', error));
  }

  function loadPage(page) {
    const category = document.querySelector('.nav-link.active').textContent.trim().toUpperCase();
    const pageSize = document.getElementById('pageSize').value;
    loadCategory(category, page, pageSize);
  }

  function changePageSize(size) {
    localStorage.setItem('pageSize', size);
    const category = document.querySelector('.nav-link.active').textContent.trim().toUpperCase();
    loadCategory(category, 1, size);
  }

  function executeSearch() {
    const searchInput = document.getElementById('searchInput').value;
    const category = document.querySelector('.nav-link.active').textContent.trim().toUpperCase();
    const pageSize = document.getElementById('pageSize').value;
    const url = new URL(window.location.href);
    url.searchParams.set('search', searchInput);
    url.searchParams.set('categoria', category);
    url.searchParams.set('page', 1);
    url.searchParams.set('page_size', pageSize);
    fetch(url, {
      headers: { "X-Requested-With": "XMLHttpRequest" }
    })
      .then(response => response.text())
      .then(html => {
        document.querySelector(`#contratistasContainer${category}`).innerHTML = html;
      })
      .catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}